:root{
  --vert-clair:#b1f3b6;
  --vert-foret:#0b4e44;
  --orange:rgb(244,102,27);
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('font/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Poids de 100 à 900 */
  font-stretch: 50% 200%; /* Largeur de 50% à 200% */
}


p, span {
  font-family: 'Lexend Deca', sans-serif;
  /* Poids léger et largeur plus large */
  /* font-variation-settings: "wght" 350, "wdth" 100; */
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#map {
  flex: 1;
}

.panel {
  position: fixed;
  background: var(--orange);
  color:white;
  /* background: #fff; */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: height 0.2s cubic-bezier(0.25, 0.8, 0.5, 1.2), width 0.3s ease, left 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.panel.mobile {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  min-height: 30%;
  max-height: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.panel.desktop {
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-header {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 600;
}

#intro-header {
 display: flex;
  align-items: center;
  justify-content: center;
  color: yellow
}

@media screen and (min-width: 768px){
  .panel-header {
    cursor: auto;
  }

  .mobile-bar {
    display: none;
  }

  .ville-option:hover {
    outline: solid 1px yellow;
    color:yellow
  }
}

.mobile-bar {
  width: 40px;
  height: 5px;
  /* background: #ccc; */
  background: white;
  margin: 5px auto;
  border-radius: 5px;
}

.panel-content {
  padding: 10px 20px 30px 20px;
  overflow-y: auto;
  flex-grow: 1;
  gap: 10px;
}

/* options villes */
.ville-option {
  cursor: pointer;
  background-color: var(--vert-foret);
  color:var(--vert-clair);
  border-radius: 12px;
  padding: 15px;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); */
  margin-bottom: 20px; 
}

.ville-option span {
  font-weight: 600 !important;
  font-weight: bolder;
  font-size: 1.2em;
  /* text-transform: uppercase; */
}

#fiche-ville {
  display: none;
  /* background: #ffffff; */
  padding: 10px  20px 30px 10px;
  border-radius: 10px;
  color:var(--vert-foret);
  background-color: var(--vert-foret);
  color: white;
}


.ville-nom {
  display: block;
  margin-bottom: 20 px;
  font-weight: 600;
  font-size: 1.2em;
  font-weight: 600;
  font-size: 1.5em;
  color:var(--vert-clair)
}

#back {
  display: none;
  visibility: hidden;
}

.liste-ville{
  overflow:auto
}


.ville-option > * {
  pointer-events: none
}

.tag-option {
  font-weight:bolder;
}

.option-details:not(:last-child) {
  border-bottom: dashed 1px var(--vert-clair);
}

.picto-velo {
  width: 50px;
}

.bilan-carbone {
  display: flex;
  background-color: var(--vert-clair);
  color: var(--vert-foret);
  /* border: dashed 2px #0b4e44; */
  vertical-align: middle !important;
  padding: 15px 10px 5px 15px;
  border-radius: 10px;
  flex-direction: column;
  gap:5px
}

.bilan-carbone .mode {
  display: flex; /* Add this to activate flexbox */
  align-items: center; /* Vertically align items inside the .mode div */
  flex-direction: row; 
}

.bilan-carbone .ph {
  margin-left: -5px;
  margin-right: 10px;
  font-size:2em;
  background: #fff;
  border-radius: 50px;
  padding: 5px;
  border: dashed 1px var(--vert-foret)
}

.co2-val {
  font-size: 1em;
}

.ph-airplane-tilt {
  color:darkred;
  border: dotted 1px darkred 
}
