body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#map {
  flex: 1;
}

.panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 20%;
  max-height: 90%;
  height: 10%;
  background: #fff;
  /* border-top: 2px solid #ccc; */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  transition: height 0.3s ease;
  /* overflow: hidden; */
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  z-index: 1000;
}

.panel-header {
  z-index: 1000;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.mobile-bar {
  height: 5px;
  width: 40px;
  background: #ccc;
  margin: 10px auto;
  border-radius: 5px;
}

.panel-content {
  padding: 10px;
}

@media (min-width: 768px) {
  .panel {
    position: static;
    width: 600px;
    height: 100%;
    min-height: auto;
    max-height: none;
    border-top: none;
    left: 0;
    /* box-shadow: none; */
    border-radius: 0px;
  }

  .mobile-bar {
    display: none;
  }
}
  /* options villes */
  .ville-option {
    cursor: pointer;
    margin: 20px;
    background-color: #ccc;
  }

  #fiche-ville {
    display: none;
    background: #ddd;
  }

  #back {
    display: none;
  }

.liste-ville{
    overflow:auto
  }


  .ville-option > * {
    pointer-events: none
  }
